.project3Detail {
  display: grid;
  padding-left: 4rem;
  padding-right: 4rem;
}

.p3Body {
  padding-right: 50%;
}

.shopping {
  display: flex;
  position: absolute;
  top: 60%;
  right: 65%;
  height: 40%;
  padding: 0px;
  opacity: 0.6;
  z-index: -1;
  opacity: 0.5;
}

.shoppingBig {
  display: flex;
  position: absolute;
  top: 50%;
  right: 58%;
  height: 50%;
  padding: 0px;
  opacity: 0.6;
  z-index: -1;
  opacity: 0.5;
}

.techSwapImg {
  position: absolute;
  height: 80%;
  right: 35%;
  top: 9%;
  border: 2px solid rgb(92, 91, 91);
}
.techSwapImg1 {
  position: absolute;
  height: 80%;
  right: 20%;
  top: 9%;
  border: 2px solid rgb(92, 91, 91);
}
.techSwapImg2 {
  position: absolute;
  height: 80%;
  right: 5%;
  top: 9%;
  border: 2px solid rgb(92, 91, 91);
}

.project3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 236px;
  z-index: 1;
  transform: translate3d(6px, 372px, 0px);
  background-color: #e3d1a7;
  transition: 1s;
}

.project3:hover h1 {
  opacity: 1;
}

.project3:hover img {
  opacity: 1;
}

.project3Big {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 614px;
  background-color: #e3d1a7;
  transition: 1s;
}

.project3Big h1 {
  opacity: 1;
}

.project3Show {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}
