.resume {
  display: flex;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 372px;
  z-index: 1;
  transform: translate3d(414px, 236px, 0px);
  background-color: #e3d1a7;
  transition: 1s;
}

.resume:hover h1 {
  opacity: 1;
}

.resumeDetail {
  padding-left: 4rem;
  padding-right: 4rem;
}

.resumeSmall {
  display: flex;
  position: absolute;
  top: 8%;
  right: 5%;
  height: 35%;
  padding: 0px;
  opacity: 0.6;
  z-index: -1;
  opacity: 0.5;
}

.resumeSmall:hover {
  opacity: 1;
}
/*AboutMe*/
.aboutme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  /* width: 402px; */
  width: 25.125rem;
  height: 360px;
  z-index: 1;
  transform: translate3d(6px, 6px, 0px);
  background-color: #e3d1a7;
  transition: 1s;
}
.resume:hover h1 {
  opacity: 1;
}
.resume:hover img {
  opacity: 1;
}

.resumeBig {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 614px;
  background-color: #e3d1a7;
  transition: 1s;
}

.resumeBig h1 {
  opacity: 1;
}

.resumeShow {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.resumeImg {
  display: flex;
  position: absolute;
  top: -5rem;
  right: -57rem;
  height: 30rem;
}

.Xresume {
  max-width: 65px;
  position: absolute;
  top: -7rem;
  right: -101rem;
}
