.body {
  display: flex;
  margin: auto;
  /* position: relative; */
  /* width: 100%; */
  max-width: 100rem;
  overflow: hidden;
  min-height: 100%;
  height: 614px;
  padding-left: 2rem;
  padding-right: 2rem;
}

body h1 {
  opacity: 0.5;
}
/*AboutMe*/
.aboutme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  /* width: 402px; */
  width: 25.125rem;
  height: 360px;
  z-index: 1;
  transform: translate3d(6px, 6px, 0px);
  background-color: #e3d1a7;
  transition: 1s;
}
.aboutme:hover h1 {
  opacity: 1;
}
.aboutme:hover img {
  opacity: 1;
}

.aboutmeBig {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 614px;
  background-color: #e3d1a7;
  transition: 1s;
}

.aboutmeBig h1 {
  opacity: 1;
}

/* AboutMe Details */
.aboutmeShow {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}
/* Project3 */

.project3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 236px;
  z-index: 1;
  transform: translate3d(6px, 372px, 0px);
  background-color: #e3d1a7;
  transform: 1s;
}

.project3:hover h1 {
  opacity: 1;
}

.project3:hover img {
  opacity: 1;
}

.project3Big {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 614px;
  background-color: #e3d1a7;
  transition: 1s;
}

.project3Big h1 {
  opacity: 1;
}

.project3Show {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.project1 {
  display: flex;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 224px;
  z-index: 1;
  transform: translate3d(414px, 6px, 0px);
  background-color: #e3d1a7;
}

.project1:hover h1 {
  opacity: 1;
}

.resume {
  display: flex;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 372px;
  z-index: 1;
  transform: translate3d(414px, 236px, 0px);
  background-color: #e3d1a7;
}

.resume:hover h1 {
  opacity: 1;
}

.projects {
  display: flex;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 360px;
  z-index: 1;
  transform: translate3d(822px, 6px, 0px);
  background-color: #e3d1a7;
}

.projects:hover h1 {
  opacity: 1;
}

.project2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 360px;
  z-index: 1;
  transform: translate3d(1229px, 6px, 0px);
  background-color: #e3d1a7;
  transition: 1s;
}

.project2:hover h1 {
  opacity: 1;
}
.project2:hover img {
  opacity: 1;
}

.project2Big {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 614px;
  background-color: #e3d1a7;
  transition: 1s;
}
.project2Big h1 {
  opacity: 1;
}

.project2Show {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.contact {
  display: flex;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 810px;
  height: 236px;
  z-index: 6;
  transform: translate3d(822px, 372px, 0px);
  background-color: #e3d1a7;
}

.contact:hover h1 {
  opacity: 1;
}

button {
  display: none;
}

.hidden {
  display: none;
  transition: 1.5s;
}

.githubLink {
  max-width: 75px;
  max-height: auto;
  opacity: 0.6;
  padding-right: 1%;
}

.githubLink:hover {
  opacity: 1;
}

.urlLink {
  max-width: 75px;
  max-height: auto;
  opacity: 0.6;
}
.urlLink:hover {
  opacity: 1;
}

.X {
  max-width: 65px;
  position: absolute;
  top: -40%;
  right: 1%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.padding {
  padding: 15px;
  line-height: 0px;
}
