.project1:hover h1 {
  opacity: 1;
}

.project1Detail {
  display: grid;
  padding-left: 4rem;
  padding-right: 4rem;
}

.p1Body {
  padding-right: 50%;
}

.bookstore {
  display: flex;
  position: absolute;
  top: 5%;
  right: 65%;
  height: 50%;
  padding: 0px;
  opacity: 0.6;
  z-index: -1;
  opacity: 0.4;
}

.ermImg {
  position: absolute;
  height: 140%;
  right: 12%;
  top: 0%;
  border: 2px solid rgb(92, 91, 91);
}

.project1 {
  display: flex;
  align-items: flex-end;
  position: absolute;
  will-change: transform, width, height, opacity;
  opacity: 1;
  width: 25.125rem;
  height: 224px;
  z-index: 1;
  transform: translate3d(414px, 6px, 0px);
  background-color: #e3d1a7;
}

.project1:hover h1 {
  opacity: 1;
}
.project1:hover img {
  opacity: 1;
}

.project1Big {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1634px;
  height: 614px;
  background-color: #e3d1a7;
  transition: 1s;
}
.project1Big h1 {
  opacity: 1;
}

.project1Show {
  display: flex;
  position: relative;
  transition: 1.5s;
  animation-name: fadeIn;
  animation-duration: 2s;
}
